@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Hairline.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/static/amoozeshyar/fonts/yekan-bakh/YekanBakh-Fat.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Yekan Bakh", "Segoe UI", Tahoma, sans-serif;
}
